  
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
    <div class="container-fruid">
      <h3 style="color:black;text-align: center">Pitch Categories</h3>
      <br>
      <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <!-- <div class="cat"> -->
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#interview">Interview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pickupline">Pickupline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#promotion">Promotion</a>
        </li>
      <!-- </div> -->
      </ul>
      
        <div class="col-md-6">
        <p style="font-size:20px"> You can impress someone in one minute to make your carreer or destroy it. How do we make
         sure that you use your one minute to actually say something meaningful In life sine you only have 60 seconds </p>
         <p style="font-size : 20px"> To view posted pitches click on category you want to view . Enjoy impressive pitches here and get 
           inspiration</p>
        </div> 
        <div class="col-md-6">
          <img src="https://www.thebalancecareers.com/thmb/aVyLW5BuvP7ufJk__UYAmUvOScw=/2122x1194/smart/filters:no_upscale()/GettyImages-149320427-56b094013df78cf772cfcdab.jpg" height="250" width="500"> 
        </div>

      <div class="tab-content">
        <div id="product" class="container tab-pane active"><br>
          {{ macro.display(productpitch) }}
          
        </div>
        <div id="interview" class="container tab-pane fade"><br>
          {{ macro.display(interviewpitch) }}
        </div>
        <div id="pickupline" class="container tab-pane fade"><br>
          {{ macro.display(pickuplines)}}
        </div>
        <div id="promotion" class="container tab-pane fade"><br>
          {{ macro.display(promotionpitch) }}
        </div>
        
      </div>
      <div class="container-fruid">
        <footer>
          <p style="background-color:black;text-align: center;font-size: 40px;color: white;"> Always be effective</p>
        </footer>
      </div>
    </div>
  {% endblock %}